<!DOCTYPE html><html lang="en"><head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="/css/user-mainpage.css" rel="stylesheet" />
    <title>user-mainpage</title>
    <style>
        body { background:rgba(26,38,57,1) !important; }
        .content {position: relative;}
        #right-panel-files {
            position: absolute;
            top: 12%;
            left: 53%;
            font-size: 175%;
            background-color:rgba(26,38,57,1);
            color:#3D5476;
            border:none;
        }
        #right-panel-files:hover{
            color: rgba(246,225,184,1);
        }
        #right-panel-logout {
            position: absolute;
            top: 12%;
            left: 68%;
            background-color:rgba(194,77,44,1);
            color:rgba(246,225,184,1);
            width: 11%;
            height: 8%;
            font-size: 175%;
            border:none;
        }
        #right-panel-logout:hover{
            color: rgba(194,77,44,1);
            background-color: rgba(246,225,184,1);
        }
        #right-panel-language {
            position: absolute;
            top: 12%;
            left: 83%;
            background-color:rgba(194,77,44,1);
            color:rgba(246,225,184,1);
            width: 11%;
            height: 8%;
            font-size: 175%;
            border:none;
        }
        #right-panel-language:hover{
            color: rgba(194,77,44,1);
            background-color: rgba(246,225,184,1);
        }
        #logo {
            position: absolute;
            top: 23%;
            left: 32%;
        }
        #logo1 {
            font-size: 525%;
        }
       
    </style>
    <script type="text/javascript">
        function submitEmailForm(form) {
            var obj = new XMLHttpRequest();
            obj.onreadystatechange = function(){
                if(obj.readyState == 4){
                    if(obj.status == 200){
                        var res = JSON.parse(obj.responseText);
                        alert(res.message);
                    }
                    else{
                        alert("XMLHttp status " + obj.status + ": " + obj.statusText);
                    }
                }
            };
            obj.open("post", form.action, true);
            obj.setRequestHeader("Content-Type", "application/json"); // NOTICE: "application/json"
            obj.send(JSON.stringify({ name: form.name.value, email: form.email.value, message: form.message.value }));
            return false;
        }
    </script>
</head>
<body>

    <h1 value="<%= user._id %>" ><%=user._id%></h1>

    <form action="/file/main/<%=user._id%>" method="get">
        <button
        class = "btn" id="right-panel-files">
            go to my files
        </button> 
    </form>
    <form action="/api/logout" method="get">
        <button class = "btn-lg" id="right-panel-logout">
            Logout
        </button> 
    </form>
    <form action="/language" method="get">
        <button class = "btn-lg" id="right-panel-language">
            Language
        </button> 
    </form>

    <div class="row" id="logo">
        <h1 class="my-4" id="logo1" style="color:rgba(194,77,44,1);">My</h1>
        <h1 class="my-3" id="logo1" style="color:rgba(246,225,184,1);">E</h1>
        <h1 class="my-4" id="logo1" style="color:rgba(194,77,44,1);">Portfolio</h1>
    </div>
    <form id="search_container">
        <input class = "searchbar" type="search" id="query" name="q" placeholder="   Search..."
        aria-label="Search through site content"/>
        <img src = "/images/search.svg" class = search_icon></img>
        <button>Search</button>
    </form>


    <form action="/ajax/email" class="contact-form" method="POST" onsubmit="return submitEmailForm(this);">
        <div>
            <input type="text" name="name" placeholder="name" class="contact-form-input" required />
        </div>
        <div>
            <input type="email" name="email" placeholder="email" class="contact-form-input" required />
        </div>
        <div>
            <textarea name="message" class="contact-form-input" placeholder="MESSAGE" required></textarea>
        </div>
        <div>
            <button type="submit">send</button>
        </div>
    </form>




</body>
</html>
