<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>user-eportfolio</title>
    <style>
        body { background:rgba(26,38,57,1) !important; }
        .content {position: relative;}
        #right-panel-home {
            position: absolute;
            top: 12%;
            left: 48%;
            font-size: 175%;
            background-color:rgba(26,38,57,1);
            color:#3D5476;
            border:none;
        }
        #right-panel-home:hover{
            color: rgba(246,225,184,1);
        }
        #right-panel-logout {
            position: absolute;
            top: 12%;
            left: 68%;
            background-color:rgba(194,77,44,1);
            color:rgba(246,225,184,1);
            width: 11%;
            height: 8%;
            font-size: 175%;
            border:none;
        }
        #right-panel-logout:hover{
            color: rgba(194,77,44,1);
            background-color: rgba(246,225,184,1);
        }
        #right-panel-language {
            position: absolute;
            top: 12%;
            left: 83%;
            background-color:rgba(194,77,44,1);
            color:rgba(246,225,184,1);
            width: 11%;
            height: 8%;
            font-size: 175%;
            border:none;
        }
        #right-panel-language:hover{
            color: rgba(194,77,44,1);
            background-color: rgba(246,225,184,1);
        }
        #logo {
            position: absolute;
            top: 8%;
            left: 10%;
        }
        #project{
            position: absolute;
            top: 35%;
            left: 30%;
            width: 40%;
        }
    </style>
</head>
<body>
    <h5 style="color:rgba(246,225,184,1);"value="<%= user._id %>" >User: <%=user._id%></h5>
    <div class="row" id="logo">
        <h1 class="my-4" style="color:rgba(194,77,44,1);">My</h1>
        <h1 class="my-3" style="color:rgba(246,225,184,1);">E</h1>
        <h1 class="my-4" style="color:rgba(194,77,44,1);">Portfolio</h1>
    </div>
    <form action="/user-mainpage/<%=user._id%>" method="get">
        <button
        class = "btn" id="right-panel-home">
            back to home page
        </button> 
    </form>
    <form action="/api/logout" method="get">
        <button class = "btn-lg" id="right-panel-logout">
            Logout
        </button> 
    </form>
    <form action="/language" method="get">
        <button class = "btn-lg" id="right-panel-language">
            Language
        </button> 
    </form>
    <form action="/user-eportfolio/user-project/5f6df2e920bc233fba785765" method="get">
        <button class = "btn-lg btn-info" id="project">
            Project1
        </button> 
    </form>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
</html>