<!DOCTYPE html><html><head>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet" />
    <link href="/css/user-upload.css" rel="stylesheet" />
    <title>Document</title>
</head>
<body >
    <h1 value="<%= user._id %>" ><%=user._id%></h1>

    <div class="background_container"></div>
    <form action="/visitor-mainpage" method="get">
        <button class = logout_button>Logout</button> 
    </form>
    <form action="/language" method="get">
        <button class = language_button>Language</button> 
    </form>
    

    <div class="logo_container">
        <div class="text_portfolio">portfolio</div>
        <div class="text_E">E</div>
        <div class="text_My">My</div>
    </div>
    <div class="welcome_text">
        Welcome to MyEportfolio <br> Click "+" to start!
    </div>
    <form action="/file/main" method="get">
        <input type = "image" src = "images/plus.svg" class = upload_icon></input> 
    </form>

</body>
</html>