<!DOCTYPE html><html lang="en"><head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous"/>
    <link id="main" rel="stylesheet" href="./css/visitor-mainpage-default.css" type="text/css"/>
    <title>visitor-mainpage</title>
    <style>

        body { background:rgba(26,38,57,1) !important;}
        .nav-btn {
            margin-left: 30px;
        }
        /* Right-aligned section inside the top navigation */
        .topnav-right {
            float: right;
        }

        .nav {
            background-color:rgba(26,38,57,1);
            padding-left: unset;
        }
        #right-panel {
            background-color:transparent;
            color:rgba(194,77,44,1);
            width: 150px;
            font-size: 160%;
            font-weight: normal;
            border:none;
            text-align: right;
        }
        #logo {
            margin-top: 8%;
            margin-left: 32%;
        }
        #logo1 {
            font-size: 525%;
        }
        #right-panel:hover{
            color: rgba(246,225,184,1);
        }
        .footer {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 60px;
            background-color: rgba(194,77,44,1);
            color: rgba(26,38,57,1);
        }
        #searchBar {
            font-size: 50px;
            border-radius: 10px;
            height: 80px;
        }
        #searchBar:hover{
            border-color: #293952;
        }
        #Bar{
            border: rgba(26,38,57,1);
            margin-top: 0%;
            height: 80px;
        }
        #google_translate_element {
            background-color:rgba(194,77,44,1);
            color: #C24D2C;
            border: none; left: 0;
            bottom: 0;
            padding: 10px
        }
    </style>
    <script type = "text/javascript" >
        history.pushState(null, null, location.href);
        history.back();
        history.forward();
        window.onpopstate = function () {
            history.go(1);
        };
    </script>
    <script type="text/javascript">
        function changetheme1() {
            set_theme("./css/visitor-mainpage-default.css");
        }
        function changetheme2() {
            set_theme("./css/visitor-mainpage-light.css");
        }
        function supports_html5_storage() {
            try {
                return 'localStorage' in window && window['localStorage'] !== null;
            } catch (e) {
                return false;
            }
        }
        var supports_storage = supports_html5_storage();
        function set_theme(theme) {
            $("#main").attr('href', theme);
            if (supports_storage) {
                localStorage.theme = theme;
            }
        }
        if (supports_storage) {
            var theme = localStorage.theme;
            if (theme) {
                set_theme(theme);
            }
        } else {
            $('#theme-dropdown').hide();
        }
    </script>
    
</head>
<body >
<div class = "container-fluid">
    <nav class="navbar nav">
        <ul class="navbar-nav">
            <div >
                <span  class = 'logo_text' style="color:rgba(194,77,44,1);">My</span>
                <span  class = 'logo_text' style="color:rgb(246,225,184);">E</span>
                <span  class = 'logo_text' style="color:rgba(194,77,44,1);">Portfolio</span>
            </div>
        </ul>
        <div class = "topnav-right">
            <div class ="row">
                <ul class="navbar-nav nav-btn">
                    <form action="/visitor-mainpage" method="get">
                        <button class = "btn" id="right-panel">Homepage</button>
                    </form>
                </ul>
                <ul class="navbar-nav nav-btn" style = "padding-left: 15px" >
                    <form action="/language" method="get">
                        <button class = "btn" id="right-panel">Setting</button>
                    </form>
                </ul>
                <ul class="navbar-nav nav-btn">
                    <form action="/login" method="get">
                        <button class = "btn" id="right-panel">Login</button>
                    </form>
                </ul>
            </div>
        </div>
    </nav>
    <div class="row" id="logo">
        <h1 class="my-4" id="logo1" style="color:rgba(194,77,44,1);">My</h1>
        <h1 class="my-3" id="logo1" style="color:rgb(246,225,184);">E</h1>
        <h1 class="my-4" id="logo1" style="color:rgba(194,77,44,1);">Portfolio</h1>
    </div>

    <div class="col-md-9 offset-md-2">
        <form class="input-group" method="GET" id="Bar" action="/searchresult">
            <input class="form-control" type="search" id="searchBar" name="q" placeholder="Search"></input>
            <div class="col-sm-2 col-md-offset-1">
                <input type = "image" src = "/images/search.svg"
                       style="filter: invert(32%) sepia(72%) saturate(986%) hue-rotate(337deg) brightness(97%) contrast(91%);"></input>
            </div>
        </form>
    </div>

    <div class="footer">
        <div id="google_translate_element" ></div>
        <script type="text/javascript">
            function googleTranslateElementInit() {
                new google
                    .translate
                    .TranslateElement({
                            pageLanguage: 'en',
                            includedLanguages: 'en,fr,es,ko,ja,hi,id,zh-CN'
                        },
                        'google_translate_element');
            }
        </script>

        <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

        <p style = "position: fixed; bottom: 0; width:100%; text-align: center; font-size: 80%;">Copyright © 2020 · My E-Portfolio Unimelb</p>
    </div>
</div>>
</body>
</html>

