<!DOCTYPE html><html lang="en"><head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="./css/visitor-mainpage.css" rel="stylesheet" />
    <title>visitor-mainpage</title>
    <style>
        body { background:rgba(26,38,57,1) !important;}
        #right-panel-language {
            float: right;
            margin-top: 20px;
            background-color:rgba(194,77,44,1);
            color:rgba(246,225,184,1);
            width: 160px;
            height: 60px;
            font-size: 175%;
            border:none;
        }
        #right-panel-language:hover{
            color: rgba(194,77,44,1);
            background-color: rgba(246,225,184,1);
        }
        #logo {
            position: absolute;
            top: 170px;
            left: 500px;
        }
        #logo1 {
            font-size: 525%;
        }
        #loginwith {
            position: absolute;
            color: #C24D2C;
            font-size: 400%;
            top: 460px;
            left:330px;
        }
    </style>
    <script type = "text/javascript" >
        history.pushState(null, null, location.href);
        history.back();
        history.forward();
        window.onpopstate = function () {
            history.go(1);
        };
    </script>

</head>
<body class = "container-fluid">
    <form action="/language" method="get">
        <button class = "btn-lg" id="right-panel-language">
            Language
        </button> 
    </form>
    <div class="row" id="logo">
        <h1 class="my-4" id="logo1" style="color:rgba(194,77,44,1);">My</h1>
        <h1 class="my-3" id="logo1" style="color:rgba(246,225,184,1);">E</h1>
        <h1 class="my-4" id="logo1" style="color:rgba(194,77,44,1);">Portfolio</h1>
    </div>
    <form id="search_container" method="GET" action="/searchresult">
        <input class = "searchbar" type="search" id="query" name="q" placeholder="   Search..."
        aria-label="Search through site content"/>
        <input type = "image" src = "/images/search.svg" class = search_icon></input>
    </form>

    <div class="text" id="loginwith">Login with</div>
    <form action="/auth/google" method="get">
        <input type = "image" src = "images/google.svg" class = google_icon></input> 
    </form>
    <form action="/auth/linkedin" method="get">
        <input type = "image" src = "images/linkedin.svg" class = linkedin_icon></input> 
    </form>



</body>
</html>
