* {
  overflow: hidden;
  padding: 0px !important;
  margin: 0px !important;
}
html { height:100%; }
.background_container {
  width: 100%;
  height: 100%;
  background: rgba(26,38,57,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}

.language_button {
  width: 11%;
  height: 8%;
  border: none;
  color: rgba(246,225,184,1);
  background-color: rgba(194,77,44,1);
  text-align: center;
  font-size: 175%;
  position: absolute;
  cursor: pointer;
  top: 10%;
  left: 83%;
  overflow: hidden;
}
.language_button:hover {
  color: rgba(194,77,44,1);
  background-color: rgba(246,225,184,1);
}
.logout_button {
  width: 11%;
  height: 8%;
  border: none;
  color: rgba(246,225,184,1);
  background-color: rgba(194,77,44,1);
  text-align: center;
  font-size: 175%;
  position: absolute;
  cursor: pointer;
  top: 10%;
  left: 68%;
  overflow: hidden;
}
.logout_button:hover {
  color: rgba(194,77,44,1);
  background-color: rgba(246,225,184,1);
}
.myportfolio_button {
  color: #3D5476;
  background-color: rgba(26,38,57,1);
  border: none;
  cursor: pointer;
  position: absolute;
  top: 12%;
  left: 50%;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 175%;
  opacity: 1;
  text-align: center;
}
.myportfolio_button:hover{
  color: rgba(246,225,184,1);
}

.logo_container {
  width: 37.13%;
  height: 20%;
  opacity: 1;
  position: absolute;
  top: 25%;
  left: 32.27%;
  overflow: hidden;
  cursor: default;
}
.text_portfolio {
  width: 63%;
  height: 91%;
  font-size: 525%;
  color: rgba(246,225,184,1);
  opacity: 1;
  position: absolute;
  top: 0%;
  left: 35%;
}
.text_E {
  width: 20%;
  height: 100%;
  font-size: 525%;
  color: rgba(194,77,44,1);
  opacity: 1;
  position: absolute;
  top: -5%;
  left: 25%;
}
.text_My {
  width: 25%;
  height: 91.15%;
  font-size: 525%;
  color: rgba(246,225,184,1);
  opacity: 1;
  position: absolute;
  top: 0%;
  left: 0%;
}
.searchbar {
  width: 66%;
  height: 15%;
  border: none;
  background: rgba(38,53,77,1);
  position: absolute;
  top: 42%;
  left: 17%;
  cursor: text;
  font-size: 400%;
  border-radius: 10px;
}
:hover.searchbar{
  background: #293952;
}
::placeholder{
  color: #1A2639;
  opacity: 10;
  left: 10%;
}
.search_icon {
  width: 6%;
  height: auto;
  top: 43%;
  left: 75%;
  filter: invert(90%) sepia(28%) saturate(468%) hue-rotate(325deg) brightness(103%) contrast(93%);
  opacity: 1;
  position: absolute;
}


.contact {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  transition: .5s;
  background-color: #fff;
}
.contact section {
  text-align: right;
  padding: 50px;
}
.contact section a {
  border: none;
  text-decoration: none;
  outline: none;
  color: #e05e02;
}
.contact:target {
  visibility: visible;
  opacity: 1;
}
.contact-form {
  position: absolute;
  max-width: 1000px;
  left: 50%;
  top: 80%;
  transform: translate(-50%,-50%);
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 20px rgba(0,0,0,0.2);
  width:90%;
  border-radius: 10px;
  overflow: hidden;
}
.contact-form-input,
.contact-form button {
  font-family: inherit;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  padding: 50px;
  letter-spacing: 1px;
  border: none;
  width: 100%;
  outline: none;
}
.contact-form button {
  background-color: #e05e02;
  padding: 100px;
  color: #fff;
}
.contact-form div:nth-child(1),
.contact-form div:nth-child(2) {
  position: relative;
}
.contact-form div:nth-child(1)::after,
.contact-form div:nth-child(2)::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 1px;
  background-color: rgba(0,0,0,0.15);
}
.contact-form textarea {
  overflow: auto;
  height: 100px;
  text-transform: none;
}