body { background:rgba(26,38,57,1) !important;}
.card-body {
    background-color:rgba(26,38,57,1);
    color: lightgoldenrodyellow;
}
#t{
    background-color:rgba(26,38,57,1);
    color: lightgoldenrodyellow;
}
.comment-button {
    background-color: lightgoldenrodyellow;
    color: #1A2639;
}
#right-panel {
    background-color:rgba(194,77,44,1);
    color:rgba(246,225,184,1);
}
#right-panel:hover{
    color: rgba(194,77,44,1);
    background-color: rgba(246,225,184,1);
}
.nav {
    background-color:rgba(26,38,57,1);
}
#comment_text {
    color: rgba(246,225,184,1);
    background-color: rgba(38,53,77,1);
}