
html { height:100%; }

.searchbar {
  width: 66%;
  height: 15%;
  border: none;
  background: rgba(38,53,77,1);
  position: absolute;
  top: 42%;
  left: 17%;
  cursor: text;
  font-size: 400%;
  border-radius: 10px;
}
:hover.searchbar{
  background: #293952;
}
::placeholder{
  color: #1A2639;
  opacity: 10;
  left: 10%;
}
.search_icon {
  width: 6%;
  height: auto;
  top: 43%;
  left: 75%;
  filter: invert(90%) sepia(28%) saturate(468%) hue-rotate(325deg) brightness(103%) contrast(93%);
  opacity: 1;
  position: absolute;
}