* {
  overflow: hidden;
  padding: 0px !important;
  margin: 0px !important;
}
html { height:100%; }
.background_container {
  width: 100%;
  height: 100%;
  background: rgba(26,38,57,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}

.language_button {
  width: 11%;
  height: 8%;
  border: none;
  color: rgba(246,225,184,1);
  background-color: rgba(194,77,44,1);
  text-align: center;
  font-size: 175%;
  position: absolute;
  cursor: pointer;
  top: 10%;
  left: 83%;
  overflow: hidden;
}
.language_button:hover {
  color: rgba(194,77,44,1);
  background-color: rgba(246,225,184,1);
}
.logo_container {
  width: 37.13%;
  height: 20%;
  opacity: 1;
  position: absolute;
  top: 25%;
  left: 32.27%;
  overflow: hidden;
}
.text_portfolio {
  width: 63%;
  height: 91%;
  font-size: 525%;
  color: rgba(246,225,184,1);
  opacity: 1;
  position: absolute;
  top: 0%;
  left: 35%;
  cursor: default;
}
.text_E {
  width: 20%;
  height: 100%;
  font-size: 525%;
  color: rgba(194,77,44,1);
  opacity: 1;
  position: absolute;
  top: -5%;
  left: 25%;
  cursor: default;
}
.text_My {
  width: 25%;
  height: 91.15%;
  font-size: 525%;
  color: rgba(246,225,184,1);
  opacity: 1;
  position: absolute;
  top: 0%;
  left: 0%;
  cursor: default;
}
.searchbar {
  width: 66%;
  height: 15%;
  border: none;
  background: rgba(38,53,77,1);
  position: absolute;
  top: 42%;
  left: 17%;
  cursor: text;
  font-size: 400%;
  border-radius: 10px;
}
:hover.searchbar{
  background: #293952;
}
::placeholder{
  color: #1A2639;
  opacity: 10;
  left: 10%;
}
.search_icon {
  width: 6%;
  height: auto;
  top: 43%;
  left: 75%;
  filter: invert(90%) sepia(28%) saturate(468%) hue-rotate(325deg) brightness(103%) contrast(93%);
  opacity: 1;
  position: absolute;
}
.text_login_with{
  width: 20%;
  color: #C24D2C;
  position: absolute;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 400%;
  opacity: 1;
  top: 65%;
  left:20%;
  cursor: default;
}
.bounce {
  animation-name: bounce;
  animation-timing-function: ease;
}
@keyframes bounce {
  0%   { transform: scale(1,1)      translateY(0); }
  10%  { transform: scale(1.1,.9)   translateY(0); }
  30%  { transform: scale(.9,1.1)   translateY(20%); }
  50%  { transform: scale(1.05,.95) translateY(0); }
  57%  { transform: scale(1,1)      translateY(10%); }
  64%  { transform: scale(1,1)      translateY(0); }
  100% { transform: scale(1,1)      translateY(0); }
}
.google_icon {
  height: 100px;
  width: auto;
  opacity: 1;
  position: absolute;
  cursor: pointer;
  top: 65%;
  left:48%;
}
.google_icon:hover {
  animation: bounce 3s infinite alternate;
}

.linkedin_icon {
  height: 110px;
  width: auto;
  opacity: 1;
  position: absolute;
  cursor: pointer;
  top: 65%;
  left:62%;
}
.linkedin_icon:hover {
  animation: bounce 3s infinite alternate;
}
