
.bounce {
  animation-name: bounce;
  animation-timing-function: ease;
}
@keyframes bounce {
  0%   { transform: scale(1,1)      translateY(0); }
  10%  { transform: scale(1.1,.9)   translateY(0); }
  30%  { transform: scale(.9,1.1)   translateY(30px); }
  50%  { transform: scale(1.05,.95) translateY(0); }
  57%  { transform: scale(1,1)      translateY(10px); }
  64%  { transform: scale(1,1)      translateY(0); }
  100% { transform: scale(1,1)      translateY(0); }
}
.google_icon {
  height: 100px;
  width: auto;
  opacity: 1;
  position: absolute;
  cursor: pointer;
  top: 460px;
  left:800px;
}
.google_icon:hover {
  animation: bounce 3s infinite alternate;
}

.linkedin_icon {
  height: 110px;
  width: auto;
  opacity: 1;
  position: absolute;
  cursor: pointer;
  top: 460px;
  left:1000px;
}
.linkedin_icon:hover {
  animation: bounce 3s infinite alternate;
}
