* {
  overflow: hidden;
  padding: 0px !important;
  margin: 0px !important;
}
html { height:100%; }
.background_container {
  width: 100%;
  height: 100%;
  background: rgba(26,38,57,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.language_button {
  width: 11%;
  height: 8%;
  opacity: 1;
  position: absolute;
  top: 10%;
  left: 82%;
  overflow: hidden;
}
.language_button_back {
  width: 100%;
  height: 100%;
  background: rgba(194,77,44,1);
  opacity: 1;
  position: relative;
  overflow: hidden;
}
.language_button:hover .language_button_back {
  background: rgba(246,225,184,1);
}
.language_button_text {
  width: 88%;
  color: rgba(246,225,184,1);
  position: absolute;
  top: 21%;
  left: 11.25%;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 28px;
  opacity: 1;
  text-align: left;
}
.language_button:hover .language_button_text {
  color: rgba(194,77,44,1);
}
.logo_container {
  width: 37.13%;
  height: 20%;
  opacity: 1;
  position: absolute;
  top: 25%;
  left: 32.27%;
  overflow: hidden;
}
.text_portfolio {
  width: 63%;
  height: 91%;
  font-size: 525%;
  color: rgba(246,225,184,1);
  opacity: 1;
  position: absolute;
  top: 0%;
  left: 35%;
}
.text_E {
  width: 20%;
  height: 100%;
  font-size: 525%;
  color: rgba(194,77,44,1);
  opacity: 1;
  position: absolute;
  top: -5%;
  left: 25%;
}
.text_My {
  width: 25%;
  height: 91.15%;
  font-size: 525%;
  color: rgba(246,225,184,1);
  opacity: 1;
  position: absolute;
  top: 0%;
  left: 0%;
}
.searchbar_container {
  width: 66.67%;
  height: 14%;
  background: rgba(38,53,77,1);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 42%;
  left: 16.67%;
  overflow: hidden;
}
.search_text {
  width: 19.2%;
  color: #3D5476;
  position: absolute;
  top: 15%;
  left: 18%;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 400%;
  opacity: 1;
  text-align: left;
}
.search_icon {
  width: 100%;
  height: auto;
  filter: invert(90%) sepia(28%) saturate(468%) hue-rotate(325deg) brightness(103%) contrast(93%);
  opacity: 1;
  position: absolute;
  top: 14%;
  left: 5%;
}
:hover.search_icon {
  filter: invert(33%) sepia(34%) saturate(2277%) hue-rotate(340deg) brightness(98%) contrast(88%);
}
.login_logo_container{
  width: 100%;
  height: 30%;
  opacity: 1;
  position: absolute;
  top: 65%;
  left: 25%;
  overflow: hidden;
}
.text_login_with{
  width: 20%;
  color: #C24D2C;
  position: absolute;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 400%;
  opacity: 1;
}
.google_icon {
  width: 100%;
  height: auto;
  opacity: 1;
  position: absolute;
  top: 0%;
  left: 25%;
}
.linkedin_icon{
  width: 30%;
  height: auto;
  opacity: 1;
  position: absolute;
  top: 0%;
  left: 38%;
}